.disBtn{
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 6px 10px;
}
.addBdr{
    padding: 10px !important;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0), 0px 0px 10px 1px rgba(0, 0, 0, 0), 0px 1px 13px -1px rgba(0, 0, 0, 0.12) !important;
}
.addBtn{
    text-align: end;
    right: 20px;
    position: relative;
}
.pa-30{
    margin: 5px;
    table{
        width: 100%;
    }
}
.dispCol{
    display: flex;
    flex-direction: column;
    width: 25%;
    select{
        height: 25px;
    }
}
tr.mat-header-row{
    height: 35px;
    background-color:adbecb ;
}
tr.mat-row{
    height: 39px;
}
td.mat-cell{
   font-size: 12px;
}
.dispFlx{
   display: flex;
   justify-content: space-around !important;
   background: #ffffff;
   padding: 10px 10px 18px 10px;
   border-bottom: 1px solid #e8e5e5a1;
}
.fl-wrap{
    flex-flow: wrap;
}
  .nu-table-body {
    overflow-y:auto;
    max-height:500px;
}
.lbltext{
 font-weight: bolder;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-label{
      padding-top: 10px;
  }
  .pr-10{
    margin-right: 10px;
    border: 1px solid rgb(97, 97, 157) !important;
}
.stCls{
    height: 25px;
    border-radius: 5px;
}
.srlDiv{
    height: calc(100% - 72px);
    position: relative;
    background-repeat: no-repeat !important;
}