.brClass{
    border: 1px solid #d4d0d0;
    margin: 46px;
    border-radius: 10px;
    display: flex;
    flex-flow: wrap;
    width: 90%;
    padding: 15px;
    mat-form-field{
        width: 23%;
    }
}
.dispCol{
    display: flex;
    flex-direction: column;
    width: 15%;
    select{
        height: 25px;
    }
}
.pCls{
    padding: 20px 20px 0px 20px;
    position: relative;
    left: 35px;
}
.pl-20{
    position: relative;
    left: 20px;
}
.sp-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}
.mr-20{
    margin-right: 20px;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 25px;
    position: relative;
    right: 101px;
    /* top: 0; */
    width: 14%;
    opacity: 0;
  }
  .centered {
margin: 0px !important;
height: auto !important;
}
.mb-25{
    margin-bottom: 25px;
}
.pl-30{
    padding-left: 50px;
}