<div class="pd-20" *ngIf="data.type=='main'">
    <h2>Quardinates X,Y({{data.x}},{{data.y}},9)</h2>
    <div>
        <mat-form-field class="example-full-width m-10">
            <mat-label>Model Id</mat-label>
            <input matInput placeholder="Model Id" required="true" [(ngModel)]="partData.modelId" [readonly] ="true">
          </mat-form-field>
          <mat-form-field class="example-full-width m-10">
            <mat-label>Assembly Id</mat-label>
            <input matInput placeholder="Id" required="true" [(ngModel)]="partData.assemblyid">
            <mat-error *ngIf="!partData.assemblyid">Enter Assemblyid</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width m-10">
            <mat-label>Assembly Name</mat-label>
            <input matInput placeholder="Desc" required="true" [(ngModel)]="partData.assemblyName">
            <mat-error *ngIf="!partData.assemblyName">Enter Assembly Name</mat-error>            
          </mat-form-field>
          <mat-form-field class="example-full-width m-10">
            <mat-label>Figure No</mat-label>
            <input matInput placeholder="figno" required="true" [(ngModel)]="partData.figNo">
            <mat-error *ngIf="!partData.assemblyName">Enter Fig No</mat-error>            
          </mat-form-field>          
          <mat-checkbox [checked]="partData.IsSubAssembly" [(ngModel)]="partData.IsSubAssembly">Is SubAssembly</mat-checkbox>
    </div>
    <div>
      <mat-form-field class="example-full-width m-10" *ngIf="partData.IsSubAssembly=='true' || subAssemlyData">
        <mat-select  name="SubAssembly" formControlName="SubAss" [(ngModel)]="SubAssem" placeholder="Select SubAssembly" required (selectionChange)="onchange($event)">             
          <mat-option [value]="0">AddNew</mat-option>
          <mat-option *ngFor="let sb of subAssemlyData" [value]="sb">
            {{ sb.ASSEMBLY_NAME }}
          </mat-option>
      </mat-select>         
      </mat-form-field>
      <mat-form-field class="example-full-width m-10" *ngIf="partData.IsSubAssembly &&  (!subAssemlyData || subAssemlyData[0])">
        <mat-label>Assembly GroupID</mat-label>
        <input matInput placeholder="Sid" required="true" [(ngModel)]="partData.subassemblygrp">
        <mat-error *ngIf="!partData.subAssemblyId">Enter Assembly GroupID</mat-error>            
      </mat-form-field>
      <mat-form-field class="example-full-width m-10" *ngIf="partData.IsSubAssembly &&  partData.assemblyid && (!subAssemlyData || subAssemlyData[0])">
        <mat-label>Sub AssembleyID</mat-label>
        <input matInput placeholder="Sid" required="true" [(ngModel)]="partData.subAssemblyId">
        <mat-error *ngIf="!partData.subAssemblyId">Enter SubAssembly ID</mat-error>            
      </mat-form-field>
      <mat-form-field class="example-full-width m-10" *ngIf="partData.IsSubAssembly && partData.assemblyid && (!subAssemlyData || subAssemlyData[0])">
        <mat-label>Sub AssembleyName</mat-label>
        <input matInput placeholder="SubDesc" required="true" [(ngModel)]="partData.subAssemDesc" >
        <mat-error *ngIf="!partData.subAssDesc">Enter SubAssembly Name</mat-error>            
      </mat-form-field>   
    </div>    
    <div class="cntr">
        <button mat-raised-button [mat-dialog-close]="false" class="m-10">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="false" class="m-10">Save</button>
        <button mat-raised-button color="primary" [disabled]="(partData.assemblyid || partData.assemblyName) && partData.IsSubAssembly && (!partData.subAssemblyId || !partData.subAssemDesc || !partData.subassemblygrp)" [mat-dialog-close]="partData">Add Parts</button>
    </div>
</div>

<div class="pd-20" *ngIf="data.type=='sub'">
  <h2>Quardinates X,Y({{data.x}},{{data.y}},{{data.PS}})</h2>
  <div>
    
    <mat-form-field class="example-full-width m-10">
      <label>REF NO</label>
      <input matInput  required="true"  [(ngModel)]="subPartData.REF_NO">
      
    </mat-form-field>
      <mat-form-field class="example-full-width m-10">
          <label>PART NO</label>
          <input matInput  required="true"  [(ngModel)]="subPartData.PART_NO"> 
          <mat-error *ngIf="!subPartData.PART_NO">Enter Part NO</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width m-10">
          <label>PART NAME</label>
          <input matInput  required="true" [(ngModel)]="subPartData.PART_DESC">
          <mat-error *ngIf="!subPartData.PART_DESC">Enter Part Name</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width m-10">
          <label>QV</label>
          <input matInput   [(ngModel)]="subPartData.QV">
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width m-10">
          <mat-label>XL SUP HD</mat-label>
          <input matInput placeholder="XL SUP HD"  [(ngModel)]="subPartData.xlSubHd">
        </mat-form-field> -->
        <mat-form-field class="example-full-width m-10">
          <label>NDP</label>
          <input matInput  required="true" [readonly]="isReadonly" [(ngModel)]="subPartData.NDP">
          <mat-error *ngIf="!subPartData.NDP">Enter the Price</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width m-10">
          <label>MOQ</label>
          <input matInput  [readonly]="isReadonly" [(ngModel)]="subPartData.MOQ">          
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width m-10">
          <label>Stock</label>
          <input matInput   [readonly]="isReadonly" [(ngModel)]="subPartData.ORD">
        </mat-form-field>     -->
        <mat-form-field class="example-full-width m-10">
          <label>REMARKS</label>
          <input matInput   [readonly]="!isReadonly" [(ngModel)]="subPartData.REMARKS">
        </mat-form-field>     
       <mat-form-field class="example-full-width m-10">
        <label>STATUS</label>
        <mat-select matInput name="Status" [(ngModel)]="subPartData.ACTIVE">
            <mat-option [value]="true">Active</mat-option>
            <mat-option [value]="false">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
        <!-- <mat-form-field class="example-full-width m-10">
          <mat-label>Status</mat-label>
          <select name="mod" id="mod" class="stCls" [(ngModel)]="subPartData.ACTIVE" >
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>
        </mat-form-field> -->
    
  </div>
  <div class="cntr">
      <button mat-raised-button [mat-dialog-close]="false" class="m-10">Cancel</button>
      <button *ngIf="data.isEdt == 'Y'" mat-raised-button color="primary" [disabled]="(!subPartData.PART_NO || !subPartData.PART_DESC)" [mat-dialog-close]="subPartData">Update</button>
      <!-- <button mat-raised-button color="primary" [disabled]="(!subPartData.PART_NO || !subPartData.PART_DESC)" (click)="checkCurrentParts()">Validate</button> -->
      <button *ngIf="data.isEdt == 'N'" mat-raised-button color="primary" [disabled]="(!subPartData.PART_NO || !subPartData.PART_DESC)" [mat-dialog-close]="subPartData">ADD</button>
  </div>
</div>
<div class="pd-20" *ngIf="data.type=='AddModel'">
  <!-- <h2>Quardinates X,Y({{data.x}},{{data.y}},{{data.PS}})</h2> -->
  <div>    
      <mat-form-field class="example-full-width m-10">
        <mat-label>MODEL ID</mat-label>
        <input matInput placeholder="Model ID" required="true" [(ngModel)]="ModelData.MODEL_ID">      
      </mat-form-field>
      <mat-form-field class="example-full-width m-10">
          <mat-label>DESCRIPTION</mat-label>
          <input matInput placeholder="Part NO" required="true" [(ngModel)]="ModelData.MODEL_NAME">          
      </mat-form-field>       
  </div>
  <div class="cntr">
      <button mat-raised-button [mat-dialog-close]="false" class="m-10">Cancel</button>
      <button mat-raised-button color="primary" (click)="save($event)">Save</button>     
  </div>
</div>