<div>
    <div class="disBtn headDisp"> 
        <h3>PAINTED LIST</h3>  
        <div class="flx">
          <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="openbtnDialog('image')"> <mat-icon>download</mat-icon> ImgsUpload</button>
          <div class="upload-btn-wrapper wrChange" >
            <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="openbtnDialog('file')"> <mat-icon>upload</mat-icon> Exp/Imp</button>
            <!-- <input type="file" name="myfile"  /> -->
          </div>
          <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="createNew()" > <mat-icon>add</mat-icon>Create New</button>
        </div>        
      </div>
      <div class="pa-30 srlDiv mat-elevation-z8"  [perfectScrollbar]="config">
        <div class="dispFlx mobCol">
          <div class="dispCol mpb-10">
              <label for="cat">SEGMENT</label>
              <select name="cat" id="cat" class="stCls" [(ngModel)]="catid" (change)="onMenuChange($event.target)">
                  <option value="">SELECT</option>
                  <option *ngFor="let op of menuList" value="{{op.CATEGORY_ID}}">{{op.CATEGORY_NAME}}</option>
              </select>
          </div>
          <div class="dispCol mpb-10">  
              <label for="mod">MODEL</label>
              <select name="mod" id="submenu" class="stCls" [(ngModel)]="submenuId" (change)="onSubChange($event.target.value)">
                  <option value="">SELECT</option>
                  <option *ngFor="let op of submenuList" value="{{op.SEGMENT_ID}}">{{op.SEGMENT_DESC}}</option>
              </select>
          </div>
          <div class="dispCol mpb-10">
            <label for="mod">TYPE</label>
            <select name="mod" id="typ" class="stCls" (change)="onTypChange($event.target.value)">
                <option *ngFor="let op of MenuTypelst" value="{{op.S_LEVEL_NAME}}">{{op.S_LEVEL_NAME}}</option>
            </select>
        </div>
      </div>
      <div class="nu-table-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabWith">
                <!-- Name Column -->
                <ng-container matColumnDef="sNo">
                  <th mat-header-cell *matHeaderCellDef > S.No </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
             
                <!-- xlSup Column -->
                <ng-container matColumnDef="head">
                  <th mat-header-cell *matHeaderCellDef > SEGMENT </th>
                  <td mat-cell *matCellDef="let element"> {{element.CATEGORY_NAME}} </td>
                </ng-container>

              
                   <!-- xlSup Column -->
                   <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > MODEL</th>
                    <td mat-cell *matCellDef="let element"> {{element.SEGMENT_DESC}} </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef > TYPE</th>
                    <td mat-cell *matCellDef="let element"> {{element.S_LEVEL_NAME}} </td>
                  </ng-container>
                  <ng-container matColumnDef="parts">
                    <th mat-header-cell *matHeaderCellDef > NO. OF VARIENT</th>
                    <td mat-cell *matCellDef="let element"> {{element.partsCount}} </td>
                  </ng-container>

                           <!-- xlSup Column -->
                           <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> EDIT</th>
                            <td mat-cell *matCellDef="let element"> 
                            
                              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu" xPosition="after">
                                <button mat-menu-item (click)="editData(element)">
                                 Edit
                                </button>
                                <button mat-menu-item >
                                  Block
                                </button>
                                <button mat-menu-item>
                                  Delete
                                </button>
                              </mat-menu>

                            </td>
                          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                >
            </tr>
          </table>
        </div>
    </div>
   
</div>