<div>
    <div class="disBtn headDisp"> 
        <h3>PAINTED LIST</h3>  
        <div class="flx">
          <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="openbtnDialog('image')"> <mat-icon>download</mat-icon> ImgsUpload</button>
          <div class="upload-btn-wrapper wrChange" >
            <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="openbtnDialog('file')"> <mat-icon>upload</mat-icon> Exp/Imp</button>
            </div>
          <button class="h-45 r-15 pr-10" mat-stroked-button color="primary" (click)="createNew()" > <mat-icon>add</mat-icon>Create New</button>
        </div>        
      </div>
      <div class="pa-30 srlDiv mat-elevation-z8"  [perfectScrollbar]="config">
        <div class="dispFlx mobCol">
          <div class="dispCol mpb-10">
              <label for="cat">SEGMENT</label>
              <select name="cat" id="cat" class="stCls" [(ngModel)]="catid" (change)="onMenuChange($event.target)">
                  <option value="-1">SELECT</option>
                  <option *ngFor="let op of menuList" value="{{op.STATE}}">{{op.CATEGORY_NAME}}</option>
              </select>
          </div>
          <div class="dispCol mpb-10">  
              <label for="mod">SERIES</label>
              <select name="mod" id="submenu" class="stCls" [(ngModel)]="submenuId" (change)="onSubChange($event.target.value)">
                  <option value="-1">SELECT</option>
                  <option *ngFor="let op of submenuList" value="{{op.SEGMENT_ID}}">{{op.SEGMENT_DESC}}</option>
              </select>
          </div>
          <div class="dispCol mpb-10">
            <label for="mod">MODEL</label>
            <select name="mod" id="typ" class="stCls" (change)="onTypChange($event.target.value)">
               <option value="-1">SELECT</option>
                <option *ngFor="let op of tempdata" value="{{op.MODEL_ID}}">{{op.MODEL_VARIENT}}</option>
            </select>
        </div>
        <div class="dispCol mpb-10">
          <label for="mod">COLOR</label>
          <select name="mod" id="typ" class="stCls" (change)="onColChange($event.target.value)">
            <option value="-1">SELECT</option>
              <option *ngFor="let op of tempcolordata" value="{{op.COLOR_ID}}">{{op.COLOR_DESC}}</option>
          </select>
      </div>
      </div>
      <div class="nu-table-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabWith">
                <!-- Name Column -->
                <!-- <ng-container matColumnDef="sNo">
                  <th mat-header-cell *matHeaderCellDef > S.No </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container> -->
             
                <!-- xlSup Column -->
                <ng-container matColumnDef="segId">
                  <th mat-header-cell *matHeaderCellDef > SEGMENT ID</th>
                  <td mat-cell *matCellDef="let element"> {{element.ACATEGORY_ID}} </td>
                </ng-container>
                   <ng-container matColumnDef="segName" style="padding-right: 20px;">
                    <th mat-header-cell *matHeaderCellDef > SEGEMENT</th>
                    <td mat-cell *matCellDef="let element"> {{element.ACATEGORY_NAME}} </td>
                  </ng-container>
                  <ng-container matColumnDef="serId">
                    <th mat-header-cell *matHeaderCellDef > SERIES ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.BSEGMENT_ID}} </td>
                  </ng-container>
                  <ng-container matColumnDef="serName">
                    <th mat-header-cell *matHeaderCellDef > SERIES NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.BSEGMENT_DESC}} </td>
                  </ng-container>
                  <ng-container matColumnDef="modId">
                    <th mat-header-cell *matHeaderCellDef >MODEL ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.MODEL_ID}} </td>
                  </ng-container>
                  <ng-container matColumnDef="modNam">
                    <th mat-header-cell *matHeaderCellDef >MODEL NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.MODEL_NAME}} </td>
                  </ng-container>
                  <ng-container matColumnDef="mVarnt">
                    <th mat-header-cell *matHeaderCellDef > MODEL VARIENT</th>
                    <td mat-cell *matCellDef="let element"> {{element.MODEL_VARIENT}} </td>
                  </ng-container>
                  <ng-container matColumnDef="figno">
                    <th mat-header-cell *matHeaderCellDef > FIG NO</th>
                    <td mat-cell *matCellDef="let element"> {{element.FIG_NO}} </td>
                  </ng-container>
                  <ng-container matColumnDef="colId">
                    <th mat-header-cell *matHeaderCellDef >COLOR ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.COLOR_ID}} </td>
                  </ng-container>
                  <ng-container matColumnDef="colNam">
                    <th mat-header-cell *matHeaderCellDef > DESCRIPTION</th>
                    <td mat-cell *matCellDef="let element"> {{element.COLOR_DESC}} </td>
                  </ng-container>
                  <ng-container matColumnDef="parts">
                    <th mat-header-cell *matHeaderCellDef > TOTAL PARTS</th>
                    <td mat-cell *matCellDef="let element"> {{element.partsCount}} </td>
                  </ng-container>
                           <!-- xlSup Column -->
                           <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> EDIT</th>
                            <td mat-cell *matCellDef="let element"> 
                            
                              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu" xPosition="after">
                                <button mat-menu-item (click)="editData(element,1)">
                                 Edit
                                </button>
                                <button mat-menu-item (click)="editData(element,2)">
                                  Block
                                </button>
                                <button mat-menu-item (click)="editData(element,3)">
                                  Delete
                                </button>
                              </mat-menu>

                            </td>
                          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                >
            </tr>
          </table>
        </div>
    </div>
   
</div>